.shipping__wrapper {
    max-width: 920px;
    margin: 0 auto 72px;
    position: relative;
    text-align: center;
}
.shipping__headers {
	margin: 24px 16px 0;
    padding-bottom: 16px;
	border-bottom: solid 1px #d2d2d2;
	text-align: left;
}
.shipping__headers:first-child {
 	padding-top: 0;
}
.shipping__divider-line {
	border-bottom: 1px solid #1d1d1d;
    width: calc(100% - 32px);
    margin: 0 auto;
}
.shipping__headers h2 {
	font-size: 16px;
  	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	color: #1d1d1d;
	letter-spacing: 1px;
	text-align: left;
  	margin-bottom: 16px;
}
.shipping__headers h2 span {
	font-size: inherit;
  	font-weight: inherit;
  	line-height: inherit;
	color: inherit;
	letter-spacing: inherit;
	text-align: inherit;
}
.shipping__headers span {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
}
.shipping__headers--us {
	padding-bottom: 24px;
}

.shipping__covid-msg {
	color: #dc0019;
	text-align: left;
	display: inline;
}


/* table */
.shipping__table th {
	padding: 0;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.25px;
	text-align: left;
	min-width: 142px;
	display: inline-block;
}
.shipping__table td {
	padding: 0;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: left;
	display: block;
}
.shipping__table td:last-child {
	margin-bottom: 16px;
}
.shipping__table tr {
	 border-bottom: solid 1px #d2d2d2;
	 text-align: left;
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 margin: 16px 16px 0;
}
.shipping__table img {
	display: inline-block;
	position: relative;
	line-height: 1;
	vertical-align: middle;
	margin-left: 24px; 
}
.shipping__table img:first-child {
    margin-left: 0; 
}
.shipping__table-fedex {
	width: 56px;
}
.shipping__table-usps {
	width: 26px;
}
.shipping__table-ls {
	width: 16px;
}
.shipping__table-price {
	position: absolute;
	right: 0;
	top: 0;
}
.shipping__times-table {
	width: calc(100% - 32px);
	margin: 16px 16px 0;
	border: 1px solid transparent;
	font-size: 12px;
	color: #1d1d1d;
}
.shipping__times-title td {
	font-size: 16px;
	text-align: center;
	padding: 24px 0;
	font-weight: 500;
}
.shipping__times-table th {
	background-color: #545454;
	color: #fff;
	padding: 5px 10px;
}
.shipping__times-table th:nth-child(2) {
	border-right: 1px solid #fff;
}
.shipping__times-table tbody td {
	color: #1d1d1d;
	padding: 5px 10px;
}
.shipping__times-table tbody tr:nth-child(even) {
	background-color: #f6f6f6;
}
.shipping__times-table tbody td:first-child {
	width: 30px;
	text-align: center;
}
.shipping__times-table tbody td:nth-child(2) {
	width: auto;
	text-align: left;
	padding-left: 10px;
	border-right: 1px solid #fff;
}
   
.shipping__arrival {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

.shipping__headers span:first-child {
	margin-bottom: 16px; 
}
.shipping__headers span.shipping__subhead {
	font-weight: 500;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}
.shipping__q-and-a-title {
	padding-bottom: 0;
}
.shipping__q-and-a-title h2 {
	margin-bottom: 0;
}
.shipping__q-and-a {
    overflow: hidden;
    display: inline-block;
   	margin: 0 ;
    text-align: left;
    max-width: 920px;
    width: calc(100% - 32px);
    position: relative;
    border-bottom: solid 1px #d2d2d2;
}
.shipping__q-and-a:first-child {
	border-top: solid 1px #d2d2d2;
}
.shipping__q-and-a h3 {
    font-weight: 500;
    padding: 18px 36px 18px 16px;
    font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	cursor: pointer;
}
.shipping__q-and-a span {
    padding: 0 16px 18px 16px;
    font-size: 14px;
	line-height: 1.43;
	letter-spacing: normal;
	font-weight: 400;
	display: none;
	margin-bottom: 10px;
}
.shipping__q-and-a span.shipping__subhead {
	font-weight: 500;
	display: block;
	padding: 0;
	margin: 16px 0 4px 0;
}
.shipping__wrapper a {
    text-decoration: none;
    color: #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
    padding-bottom: 1px;
}
.shipping__q-and-a h3::after {
    content: "\E90D";
	font-family: icomoon;
    position: absolute;
    right: 16px;
    font-size: 1rem;
    top: 17px;
    transform: rotate(90deg);
}
.shipping__q-and-a--open span {
	display: inline-block;
}
.shipping__q-and-a--open h3::after {
	transform: rotate(-90deg);
}
.shipping__wrapper .g-button_base {
	margin-top: 24px;
	max-width: 288px;
}

/*. desktop styles. */
@media screen and (min-width: 767px) {
	.shipping__wrapper {
    	margin: 0 auto 40px;
	}
	.shipping__headers {
		padding: 24px 0 24px;
		margin: 0;
	}
	.shipping__headers:first-child {
	 	padding-top: 56px;
	}
	.shipping__headers h2 {
		font-size: 24px;
	}
	.shipping__headers span {
		max-width: 920px;
	}
	.shipping__headers--us {
		border-bottom: none;
		padding-bottom: 0;
	}
	.shipping__table td {
  		display: table-cell;
  		vertical-align: middle;
    }
    .shipping__table tr {
    	 border-bottom: solid 1px #d2d2d2;
    	 display: table-row;
    	 height: 63px;
    }
	.shipping__table img {
		display: inline-block;
		position: relative;
		line-height: 1;
		vertical-align: middle;
		margin-left: 24px; 
	}
	.shipping__table-fedex {
		width: 56px;
	}
	.shipping__table-usps {
		width: 26px;
	}
	.shipping__table-ls {
		width: 16px;
	}
	.shipping__table-price {
		position: relative;
		display: table-cell;
		top: initial;
		right: initial;
		padding: 0 8px!important;
		min-width: 75px;
	}
	.shipping__table-message {
		max-width: 290px;
	}
	td.shipping__table-footer {
		padding-left: 8px;
	}

	/*shipping times table*/
	.shipping__times-table {
		width: 45%;
		position: relative;
		display: inline-table;
	}
	.shipping__divider-line {
	    width: 100%;
	    margin: 24px 0 0;
	}
    .shipping__arrival {
    	display: flex;
    	flex-direction: row;
    	justify-content: left;
    }
	.shipping__arrival span {
		display: inline-block;
		width: 50%;
		text-align: left;
	}
	.shipping__arrival span:first-child {
		margin-right: 16px;
	}
	.shipping__headers span:first-child {
		margin-bottom: 0; 
	}
	.shipping__table th {
    	padding: 16px 0;
    	font-weight: 500;
    	font-size: 16px;
    	line-height: 1.5;
  		letter-spacing: 0.25px;
  		text-align: left;
  		min-width: 130px;
  		display: table-cell;
    }
    .shipping__divider-line {
	    width: 100%;
	}
    .shipping__q-and-a {
   		margin: 0;
   		width: 100%;
   	}
	.shipping__q-and-a h3 {
        padding: 16px 40px 16px;
    }
    .shipping__q-and-a span {
        padding: 0 41px 16px;
    }
    .shipping__wrapper .g-button_base {
    	margin-top: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 940px) {
	.shipping__wrapper {
		margin: 0 16px;
	}
	.shipping__table img {
	    display: block;
	    margin: 4px !important;
	}
}
