.b-free-product-card {
    .g-quickview-modal-header,
    .b-product-quickview-qty-button,
    .b-product-quickview-prices,
    .b-product-quickview-heading,
    .b-product-quickview-number-modelName {
        display: none;
    }

    .b-product-quickview,
    .b-product-quickview-info,
    .b-size_pdp .b-select-size-outer ul {
        margin: 0;
    }

    .b-product-quickview {
        flex-flow: column nowrap;
    }

    .b-product-quickview-info {
        flex-basis: 100%;
    }

    .b-product-quickview-images {
        flex-basis: 100%;
        max-width: 60%;
        margin: 0 auto;
        padding: rem-calc(16) 0 0;
    }

    .b-product-quickview .b-product_attribute {
        border-bottom: 0;
    }

    .b-product-quickview-detail-panel {
        margin-bottom: 0;
    }

    &_product-wrapper {
        background-color: $white;
        padding: 0 rem-calc(14);
        overflow: hidden;
    }

    &_info-loading {
        background-color: $white;
        padding: rem-calc(10) rem-calc(14);
    }

    .g-reward-card_cta-wrapper {
        background-color: $white;
        padding: 0 0 rem-calc(15);
    }

    .g-button_primary--white {
        background-color: $grey12;
    }

    .g-button_secondary--black {
        border: 0;
    }
}
