# Files/folders that should *Rarely* change and require UA approval
.gitignore              @ua-digital-commerce/reviewers-sfcc
.github/
/package.json           @ua-digital-commerce/reviewers-sfcc
/.build/                @ua-digital-commerce/reviewers-sfcc
/.circleci              @ua-digital-commerce/reviewers-sfcc
/dependencies/          @ua-digital-commerce/reviewers-sfcc

# any introduction of Pipelines triggers a UA review
pipelines/*             @ua-digital-commerce/reviewers-sfcc
