/* md

# Icons
If you need it could be added to different types of HTML-elements

```html
    <span class="i-account"></span>
```

# Primary button white

```html_example
    <div style="padding: 15px 0;">
        <span class="i-account" style="margin: 10px; display: inline-block"></span>
        <span class="i-account-profile" style="margin: 10px; display: inline-block"></span>
        <span class="i-add" style="margin: 10px; display: inline-block"></span>
        <span class="i-alert" style="margin: 10px; display: inline-block"></span>
        <span class="i-arrow-backwards" style="margin: 10px; display: inline-block"></span>
        <span class="i-arrow-forward" style="margin: 10px; display: inline-block"></span>
        <span class="i-arrow-right" style="margin: 10px; display: inline-block"></span>
        <span class="i-arrow-up" style="margin: 10px; display: inline-block"></span>
		<span class="i-attachment" style="margin: 10px; display: inline-block"></span>
        <span class="i-caret-down" style="margin: 10px; display: inline-block"></span>
        <span class="i-caret-left" style="margin: 10px; display: inline-block"></span>
        <span class="i-caret-right" style="margin: 10px; display: inline-block"></span>
        <span class="i-caret-up" style="margin: 10px; display: inline-block"></span>
        <span class="i-cart" style="margin: 10px; display: inline-block"></span>
        <span class="i-chat" style="margin: 10px; display: inline-block"></span>
        <span class="i-check" style="margin: 10px; display: inline-block"></span>
        <span class="i-checkbox-default" style="margin: 10px; display: inline-block"></span>
        <span class="i-checkbox-selected" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-checkbox-selected-alt" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-checkmark-success" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-comfort" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-current-location" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-exit" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-external" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-fav-default" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-fav-selected" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-fit" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-gift" style="margin: 10px; display: inline-block" style="margin: 10px; display: inline-block"></span>
        <span class="i-instagram" style="margin: 10px; display: inline-block"></span>
        <span class="i-like" style="margin: 10px; display: inline-block"></span>
        <span class="i-location-pin" style="margin: 10px; display: inline-block"></span>
        <span class="i-lock" style="margin: 10px; display: inline-block"></span>
        <span class="i-logo" style="margin: 10px; display: inline-block"></span>
        <span class="i-mail" style="margin: 10px; display: inline-block"></span>
        <span class="i-menu" style="margin: 10px; display: inline-block"></span>
        <span class="i-minus" style="margin: 10px; display: inline-block"></span>
        <span class="i-mobile" style="margin: 10px; display: inline-block"></span>
        <span class="i-more" style="margin: 10px; display: inline-block"></span>
        <span class="i-order-history" style="margin: 10px; display: inline-block"></span>
        <span class="i-performance" style="margin: 10px; display: inline-block"></span>
        <span class="i-phone" style="margin: 10px; display: inline-block"></span>
        <span class="i-photos" style="margin: 10px; display: inline-block"></span>
        <span class="i-play" style="margin: 10px; display: inline-block"></span>
        <span class="i-plus" style="margin: 10px; display: inline-block"></span>
        <span class="i-promo-tag" style="margin: 10px; display: inline-block"></span>
        <span class="i-question" style="margin: 10px; display: inline-block"></span>
        <span class="i-radio" style="margin: 10px; display: inline-block"></span>
        <span class="i-radio-active" style="margin: 10px; display: inline-block"></span>
        <span class="i-refresh" style="margin: 10px; display: inline-block"></span>
        <span class="i-remove" style="margin: 10px; display: inline-block"></span>
        <span class="i-seamless" style="margin: 10px; display: inline-block"></span>
        <span class="i-search" style="margin: 10px; display: inline-block"></span>
        <span class="i-share" style="margin: 10px; display: inline-block"></span>
        <span class="i-shop" style="margin: 10px; display: inline-block"></span>
        <span class="i-star-empty" style="margin: 10px; display: inline-block"></span>
        <span class="i-star-filled" style="margin: 10px; display: inline-block"></span>
        <span class="i-store" style="margin: 10px; display: inline-block"></span>
        <span class="i-subtract" style="margin: 10px; display: inline-block"></span>
        <span class="i-unlock" style="margin: 10px; display: inline-block"></span>
        <span class="i-valid" style="margin: 10px; display: inline-block"></span>
        <span class="i-wallet" style="margin: 10px; display: inline-block"></span>
        <span class="i-wicks" style="margin: 10px; display: inline-block"></span>
    </div>
```
*/

@each $icon in map-keys($icons) {
    .i-#{$icon} {
        @include icon($icon);
    }
}
