**/cartridge/static/**/*
**/cartridge/client/default/js/utils/device.js
node_modules/
coverage/
build/
doc/
int_vertex/
int_paypal_sfra/
int_paypal/
bm_paypal/
int_aurus_sfra/
int_coremedia_sfra/
int_coremedia/
bm_smartling_integration/
bc_jobs/
bc_job_components/
int_marketing_cloud/
int_handlerframework/
UAS7/
int_customfeeds/
int_tealium/
int_borderfree/
int_borderfree_sfra/
int_bazaarvoice_sfra/
int_bazaarvoice/
bm_bazaarvoice/
int_perimeterx/
int_perimeterx_SFRA/
**/plugin_ua_idm/cartridge/scripts/jsrsasign/
**/int_s3/cartridge/scripts/lib/
**/cartridge/client/default/js/lazysizes.js
build_tools/
storefront-reference-architecture/
plugin_wishlists/
plugin_instorepickup/
plugin_shoprunner/
plugin_sitemap/
bm-tools/
lib_productlist/
int_adyen_SFRA/
int_adyen_overlay/
int_paazl_core/
int_paazl_sfra/
int_googlesitemap/
bm_SDLTranslation/
int_atome_sfra/
int_klarna_payments_sfra/
int_klarna_payments/
bm_catalogreducer/
link_constructor_connect_legacy/
bm_catalogreducer_custom/
social_channel_integrations/
test_console/