node_modules
cartridges/**/cartridge/static/*/css/**
cartridges/**/cartridge/static/*/js/**
!cartridges/bm_underarmour/cartridge/static/*/css/**
!cartridges/bm_underarmour/cartridge/static/*/js/**
!cartridges/app_ua_apac/cartridge/static/*/js/customerreport.js
!cartridges/app_ua_apac/cartridge/static/*/css/customerreport.css
cartridges/jsconfig.json
dw.json
.vscode/
./dependencies/storefront-reference-architecture/package-lock.json
./test/acceptance/report/**
coverage/
sites/*.zip
*.empty
cartridges/app_ua_core/cartridge/static/default/atlas/guide/**
test/acceptance/report/
.env
.DS_Store
build_tools/artifacts
build_tools/*.zip
build_tools/.cache/
*.map
out/
