
[submodule "cartridges/storefront-reference-architecture"]
	path = cartridges/storefront-reference-architecture
	url = git@github.com:SalesforceCommerceCloud/storefront-reference-architecture.git
[submodule "cartridges/plugin_wishlists"]
	path = cartridges/plugin_wishlists
	url = git@github.com:SalesforceCommerceCloud/plugin_wishlists.git
[submodule "cartridges/lib_productlist"]
	path = cartridges/lib_productlist
	url = git@github.com:SalesforceCommerceCloud/lib_productlist.git
[submodule "cartridges/bm-tools"]
	path = cartridges/bm-tools
	url = git@github.com:SalesforceCommerceCloud/bm-tools.git
[submodule "cartridges/plugin_instorepickup"]
	path = cartridges/plugin_instorepickup
	url = git@github.com:SalesforceCommerceCloud/plugin_instorepickup.git
[submodule "cartridges/plugin_sitemap"]
	path = cartridges/plugin_sitemap
	url = git@github.com:SalesforceCommerceCloud/plugin_sitemap.git
[submodule "cartridges/social_channel_integrations"]
	path = cartridges/social_channel_integrations
	url = git@github.com:SalesforceCommerceCloud/social_channel_integrations.git
[submodule "cartridges/catalog-reducer-extension"]
	path = cartridges/catalog-reducer-extension
	url = git@github.com:SalesforceCommerceCloud/catalog-reducer-extension.git
