# Unix-style newlines with a newline ending every file. Relates to .editorconfig setting.
* text=auto eol=lf

# LFS Configuration
sites/site_demo/catalogs/*/static/** filter=lfs diff=lfs merge=lfs -text
sites/site_demo/libraries/*/static/** filter=lfs diff=lfs merge=lfs -text
*.jpg binary
*.png binary
*.gif binary
*.pdf binary
