.g-modal-registerUser {
    .g-modal-dialog {
        max-width: rem-calc(570);
        margin-top: 2rem;
        @include respond-to(mobile) {
            max-width: 100%;
            width: 100%;
            margin: 0;
        }
    }

    .b-return-wrap {
        max-width: rem-calc(550);
        @include respond-to(mobile) {
            max-width: 100%;
        }
    }
}

a[data-locale^='zh_HK'] {
    span {
        width: rem-calc(111);
    }
}

@include respond-to(desktop) {
    .SG-align-formrows {
        display: inline-block;
        width: 48%;

        &.post {
            float: right;
        }
    }
}

// Style for customer-service book a session logo
.pt_customer-service {
    .customer-service-links {
        a {
            &.book-a-session {
                background-position: 0 46.165%;

                &:hover {
                    background-position: 0 99.055%;
                }
            }
        }
    }
}

.b-cart-content {
    .b-cartlineitem_attributes {
        .b-productcard_footer {
            margin-bottom: rem-calc(26);
        }
    }
}

.contact-phone-error-message {
    .invalid-feedback {
        display: block;
    }
}

.phone-error-message-text {
    @include error_message;
    @include t-text-5;

    padding-left: rem-calc(16);
}

.contant-tooltip {
    .g-tooltip-text {
        z-index: 2;
    }
}

.product-quickview {
    .b-product-quickview-prices {
        margin-bottom: 0;
    }

    .atome-marketing {
        margin-bottom: rem-calc(16);
    }
}

.b-product_info {
    .b-promo-tooltip-content-text {
        word-break: break-all;
    }
}

.b-promo-tooltip-content-text {
    word-break: break-all;
}

.personalize__tooltip.tooltip {
    &.b-promo-tooltip-content {
        .g-tooltip-arrow {
            bottom: -7px;
        }
    }
}

html:lang(ko) {
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        word-break: keep-all;
    }
}
