<div class="atlas-footer-copyright">
    &copy; 2019
    <svg style="vertical-align: middle;width:16px;height:16px;" width="16" height="16" version="1.1" viewBox="0 0 92.5 98.199997" xmlns="http://www.w3.org/2000/svg" role="image">
        <path fill="#307FE2" d="m0 98.2c73.6-68.6 92.5-36.9 92.5-36.9l-36.9-61.3z" role="presentation"/>
        <polygon fill="#C8C9C7" transform="translate(0 -.2)" points="409.3 3.2 409.3 1.1 418.2 1.1 418.2 3.2 414.9 3.2 414.9 12.2 412.6 12.2 412.6 3.2" role="presentation"/>
    </svg>
    astoundcommerce.com
</div>
