<link rel="stylesheet" type="text/css" href="./../../css/style.css"/>
<link rel="stylesheet" type="text/css" href="./../../css/helpers.css"/>
<link rel="stylesheet" type="text/css" href="./../../css/fonts.css"/>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/selectric@1.13.0/public/jquery.selectric.min.js"></script>
