.livetext__wrapper-71816327 {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.livetext__wrapper-71816327 > div:last-child {
    padding-bottom: 50px;
}

.livetext__cta__Mvisible {
    display: inline-block;
}

.livetext__cta__Dvisible {
    display: none;
}

.livetext__content-71816327 {
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.livetext__anchor-71816327 {
    position: relative;
}

.livetext__anchor-71816327 + div {
    margin: 15px 0 0;
}

.livetext__hotspot--wrapper-71816327 {
    display: none;
}

.livetext__hotspot--wrapper-71816327 a {
    margin: -10px 0 0 -10px;
    padding: 10px;
    position: absolute;
    z-index: 5;
    display: inline-block;
}

.livetext__71816327 {
    overflow: hidden;
}

.button-cta.cta-style1 {
    font-size: 16px;
    font-weight: 600;
    border-color: #fff;
    color: #1d1d1d;
    background-color: #fff;
    transition: all 0.5s ease;
    font-family: Armour_W_Bd, arial, sans-serif;
    padding: 7px 10px;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    min-height: 44px;
    vertical-align: middle;
    width: auto;
}

.button-cta.cta-style1:hover {
    color: #fff;
    cursor: pointer;
    background-color: #1d1d1d;
}

.input-text.email-input.required.stop-scroll {
    width: 100%;
    display: inline-block;
    height: 46px;
    border: 0;
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 4px;
    padding: 7.5px 10px;
    font-size: 13px;
}

@media screen and (min-width: 768px) {
    .livetext__content-71816327 {
        display: block;
        text-align: initial;
    }

    .livetext__wrapper-71816327 > div:last-child {
        padding-bottom: 0;
    }

    .livetext__hotspot--wrapper-71816327 {
        display: inline-block;
    }

    .livetext__cta__Mvisible {
        display: none;
    }

    .livetext__cta__Dvisible {
        display: inline-block;
    }

    .LiveclickerVideoDiv {
        position: initial;
    }

    .livetext__athlete1 {
        font-family: Armour_W_bd, Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

.primary-hero-livetext-newsletter-signup__text1 {
    font-family: ArmourCD_W_Md, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #1d1d1d;
    margin: 6px 0 10px;
}

.primary-hero-livetext-newsletter-signup-terms__text1 {
    font-family: ArmourCD_W_Md, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    margin: 44px 0 10px;
}

.t-content_link {
    text-decoration: underline;
    color: #000;

    &:hover {
        color: #f00;
    }
}

.primary-hero-livetext-newsletter-signup__text2 {
    font-family: Armour_W_XBd, Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 1;
    color: #1d1d1d;
    margin: 0 0 10px;
}

.primary-hero-livetext-newsletter-signup__text3 {
    font-family: Armour_W_Rg, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #1d1d1d;
    margin: 0 0 10px;
}

.primary-hero-livetext-newsletter-signup__hotspot1 {
    top: null;
    left: null;
}

.primary-hero-livetext-newsletter-signup__hotspot2 {
    top: null;
    left: null;
}

.primary-hero-livetext-newsletter-signup__hotspot3 {
    top: null;
    left: null;
}

.primary-hero-livetext-newsletter-signup__hotspot4 {
    top: null;
    left: null;
}

.primary-hero-livetext-newsletter-signup__cta-block {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.primary-hero-livetext-newsletter-signup__cta-block a {
    margin: 3px;
}

.primary-hero-livetext-newsletter-signup__background {
    position: relative;
}

.primary-hero-livetext-newsletter-signup__bgVideo__Dvisible {
    display: none;
}

.primary-hero-livetext-newsletter-signup__insetVideo__Dvisible {
    display: none;
}

.primary-hero-livetext-newsletter-signup__logo {
    position: relative;
    display: block;
    margin: 4px auto;
    width: null;
}

@media screen and (max-width: 480px) {
    form.js-email-subscribe.featured-banner__form {
        display: flex !important;
    }

    .hero-signup {
        top: 30%;
        left: 1px !important;
        position: relative !important;
        margin: 0 auto;
        width: 100% !important;
        padding-right: 16px;
        padding-left: 16px;
    }

    .input-text.email-input.required.stop-scroll {
        width: 100%;
        display: inline-block;
        height: 46px;
        background-color: #fff;
        border: 2px solid #1d1d1d;
        color: #1d1d1d;
        border-radius: 4px;
        padding: 5px 16px;
        font-size: 12px;
    }

    .form-row.form__buttons.featured-banner-form__button {
        transition: all 0.5s ease;
        font-family: Armour_W_Bd, arial, sans-serif;
        font-size: 12px;
        padding-left: 12px;
        display: inline-block;
        border-radius: 4px;
    }

    .button-cta.cta-style1 {
        color: #fff !important;
        background-color: #1d1d1d;
        border-color: #1d1d1d;
        font-size: 13px;
        transition: all 0.5s ease;
        font-family: Armour_W_Bd, arial, sans-serif;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 4px;
        text-align: center;
        text-transform: uppercase;
        min-height: 46px;
        vertical-align: middle;
        width: auto;
    }

    .hero-signup .featured-banner__form .featured-banner-form__button .button-cta.cta-style1 {
        margin-bottom: auto !important;
    }

    .hero-signup .featured-banner-form__input {
        width: 100%;
        max-width: 195px;
        height: 46px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 992px) {
    form.js-email-subscribe.featured-banner__form {
        display: flex !important;
    }

    .hero-signup {
        top: 30%;
        left: 1px !important;
        position: relative !important;
        margin: 0 auto;
        width: 100% !important;
        padding: 40px;
    }

    .input-text.email-input.required.stop-scroll {
        width: 100%;
        display: inline-block;
        height: 46px;
        background-color: #fff;
        border: 2px solid #1d1d1d;
        color: #1d1d1d;
        border-radius: 4px;
        padding: 5px 16px;
        font-size: 12px;
    }

    .form-row.form__buttons.featured-banner-form__button {
        transition: all 0.5s ease;
        font-family: Armour_W_Bd, arial, sans-serif;
        font-size: 12px;
        padding: 0 10px;
        display: inline-block;
        border-radius: 4px;
    }

    .button-cta.cta-style1 {
        color: #fff !important;
        background-color: #1d1d1d;
        border-color: #1d1d1d;
        font-size: 13px;
        transition: all 0.5s ease;
        font-family: Armour_W_Bd, arial, sans-serif;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 4px;
        text-align: center;
        text-transform: uppercase;
        min-height: 46px;
        vertical-align: middle;
        width: 124px;
    }

    .hero-signup .featured-banner__form .featured-banner-form__button .button-cta.cta-style1 {
        margin-bottom: auto;
    }

    .hero-signup .featured-banner-form__input {
        width: 100%;
        max-width: 195px;
        height: 46px;
    }
}

@media screen and (min-width: 768px) {
    .primary-hero-livetext-newsletter-signup__livetext--content {
        padding: 0;
        display: block;
        text-align: center;
        width: 50%;
        left: 0%;
        top: 10%;
        position: absolute;
        z-index: 1;
    }

    .primary-hero-livetext-newsletter-signup__text1 {
        font-size: 1.83vw;
        line-height: 1;
        margin: 0 0 0 0.3vw;
        color: #fff;
    }

    .primary-hero-livetext-newsletter-signup-terms__text1 {
        font-size: 0.8vw;
        line-height: 1;
        margin: 0 0 0 0.3vw;
        color: #fff;
    }

    .primary-hero-livetext-newsletter-signup__text2 {
        font-size: 3.55vw;
        line-height: 1;
        margin: 0 0 0 0.3vw;
        color: #fff;
    }

    .primary-hero-livetext-newsletter-signup__text3 {
        font-size: 1.4vw;
        line-height: 1.3;
        margin: 0;
        color: #fff;
    }

    .primary-hero-livetext-newsletter-signup__bgVideo__Dvisible {
        display: block;
    }

    .primary-hero-livetext-newsletter-signup__background {
        position: relative;
        margin: 0;
        min-width: calc(100% + 1px);
    }

    .primary-hero-livetext-newsletter-signup__insetVideo__Dvisible {
        position: absolute;
        display: inline-block;
        z-index: 2;
        width: null;
        left: null;
        top: null;
        cursor: pointer;
    }

    .primary-hero-livetext-newsletter-signup__cta-block {
        position: absolute;
        z-index: 3;
        height: 1px;
        padding: 0;
        margin-bottom: 0;
        text-align: left;
        top: 10%;
        left: 0%;
        width: 100%;
    }

    .primary-hero-livetext-newsletter-signup__athlete {
        position: absolute;
        font-family: Armour_W_Rg, Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: left;
        top: null;
        left: null;
        color: #fff;
        display: inline-block;
    }
}

@media screen and (min-width: 1100px) {
    .primary-hero-livetext-newsletter-signup__text3 {
        font-size: 1.15vw;
        line-height: 1.3;
    }
}

@media screen and (min-width: 1600px) {
    .primary-hero-livetext-newsletter-signup__text {
        font-size: 18px;
        line-height: 1.3;
    }

    .primary-hero-livetext-newsletter-signup__text1 {
        font-size: 26px;
        line-height: 1;
        margin: 0 0 8px;
    }

    .primary-hero-livetext-newsletter-signup__text1 {
        font-size: 18px;
        line-height: 1;
        margin: 0 0 8px;
    }

    .primary-hero-livetext-newsletter-signup__text2 {
        font-size: 56px;
        line-height: 1;
        margin: 0 0 8px;
    }
}

@media screen and (max-width: 1200px) {
    .primary-hero-livetext-newsletter-signup__athlete {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .primary-hero-livetext-newsletter-signup__athlete {
        font-size: 12px;
    }
}

.page-title {
    display: none;
}

.hero-signup {
    width: 50%;
}

.hero-signup {
    top: 30%;
    left: 50%;
    position: absolute;
}

.hero-signup .primary-hero-livetext-newsletter-signup__text1 {
    font-weight: normal;
    text-transform: none;
}

.hero-signup .primary-hero-livetext-newsletter-signup-terms__text1 {
    font-weight: normal;
    text-transform: none;
}

.hero-signup .primary-hero-livetext-newsletter-signup__text2 {
    line-height: 1.1;
    font-family: Armour_W_Bd, arial, sans-serif;
    font-weight: 800;
}

.hero-signup .primary-hero-livetext-newsletter-signup__text3 {
    font-weight: normal;
}

.featured-banner-form__input {
    width: 100%;
    max-width: 175px;
    text-align: left;
}

.featured-banner--center {
    text-align: center;
}

.featured-banner__form .form-row {
    margin: 0 1px;
    display: inline-block;
    vertical-align: top;
}

.hero-signup .featured-banner-form__input {
    max-width: 69%;
}

.hero-signup .sign-up__legal,
.hero-signup__checkbox,
.featured-banner__form {
    color: #fff;
}

.featured-banner__form {
    display: flex;
    justify-content: center;
    padding: 0 16px;

    .button-cta {
        height: 46px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 992px) {
    .hero-signup .sign-up__legal,
    .hero-signup__checkbox,
    .featured-banner__form,
    .hero-signup .primary-hero-livetext-newsletter-signup__text1,
    .hero-signup .primary-hero-livetext-newsletter-signup-terms__text1,
    .hero-signup .primary-hero-livetext-newsletter-signup__text2,
    .hero-signup .primary-hero-livetext-newsletter-signup__text3 {
        color: #1d1d1d;
    }

    .hero-signup .featured-banner__form .featured-banner-form__button .button-cta.cta-style1 {
        color: #1d1d1d;
        border-color: #1d1d1d;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .hero-signup .primary-hero-livetext-newsletter-signup__text1 {
        font-size: 2.85vw;
    }

    .hero-signup .primary-hero-livetext-newsletter-signup-terms__text1 {
        font-size: 1vw;
    }

    .featured-banner__form {
        padding-bottom: 50px;
    }

    .livetext__wrap-elements {
        position: relative;
    }
}

.featured-banner-form__input .input-text {
    background-color: #fff;
    color: #1d1d1d;
}

.featured-banner__form .form-row {
    margin: 0 1px;
}

.hero-signup .featured-banner-form__input {
    width: 100%;
}

.featured-banner-form__input {
    display: inline-block;
    vertical-align: top;
}

.featured-banner-form__input {
    width: 100%;
    max-width: 175px;
    text-align: left;
}

.cta-style3:hover {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}

.form-success {
    display: none;
}

.data-show {
    display: block;
}

.data-success {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.success {
    color: #fff;
    text-align: center;
    vertical-align: inherit;
}

