/* stylelint-disable */
@import '~org/fonts';

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/noto-sans-kr-v27-korean-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/noto-sans-kr-v27-korean-500.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/noto-sans-kr-v27-korean-900.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
}
/* stylelint-enable */
