@mixin custom-scroll {
    /* width */
    &::-webkit-scrollbar {
        width: rem-calc(3);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $grey2;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: rem-calc(2);
        background: $blue;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $blue;
    }

    scrollbar-arrow-color: $blue;
    scrollbar-base-color: $grey2;
    scrollbar-darkshadow-color: $white;
    scrollbar-face-color: $blue;
    scrollbar-highlight-color: $grey2;
    scrollbar-shadow-color: $blue;
}
