.login-button-container {
    line-height: 0;
    position: relative;
    margin-bottom: 1rem;

    .b-checkout-login_button {
        margin-bottom: unset !important;
    }

    .b-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
        background: transparent;
        opacity: 1;

        .b-loader-icon {
            border-radius: 50%;
        }
    }
}
