.dw-breadcrumb {
   color: #666;
   font-size: 12px;
   font-size: 1.2rem;
   padding-bottom: 8px;
}

.dw-table-title {
    color: #84BD00;
    font-size: 20px;
    padding-left: 5px;
    line-height: 2;
    width: 100%;
    border-spacing: 2px;
    border-bottom: 1px solid #dadada;
}

.dw-instructional-text {
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    color: #666;
    font-size: 11px;
    margin-top: 10px;
}

/*
 **********************************************
 * Demandware Business Manager Style Over-Rides
 **********************************************
 * 
 * These styles are owned by Demandware Business Manager,
 * and have been updated to ensure that the BM Header
 * renders consistently on all of the S7 Management screens.
 */

/* Extended the height, as bootstrap reduced it */
#bm_header_logo {
	height: 62px;
}

/* Re-enabled the underline in the my-proile link */
a.headermenu {
	text-decoration: underline;
}

/* disabled the under-line effect on the other meny items */
a.headermenu.home,
a.headermenu.profile,
a.headermenu.support,
a.headermenu.logoff {
	text-decoration: none;
}

/* Provide the default width of the auto-logout modal container */
#modalWin_content {
	width: 400px !important;
}

/* Setup the Display of the auto-logout modal window */
div#login {
	height: 430px;
	width: 375px !important;
	overflow: hidden;
}

/* Enable the full-width of the login-input field */
div#login input.login_input {
	width: 100% !important;
}

/* Reset the height of the footer */
div#footer {
	height: 40px !important;
}

/* Remove the border around the Demandware footer image */
div#footer img {
	border: 0;
}

/* Reset the font-size for the left navigation title */
#headerNav ul li {
	font-size: 13px !important;
}

/* Reset the font-size and display of the menu items in the left navigation */
.leftmenu:link, 
.leftmenu:visited, 
.leftmenuactive:link, 
.leftmenuactive:visited, 
.leftmenusub:link, 
.leftmenusub:visited, 
.leftmenusubactive:link, 
.leftmenusubactive:visited {
	width: 200px;
	font-size: 13px;
}