img {
	border:1px solid gainsboro; 
}

.pt-sans {
    font-family: 'PT Sans', sans-serif;
}

.carousel-control.left, .carousel-control.right {
	background-image:none;
}

a.carousel-control.right, a.carousel-control.left {
	color: #84BD00;
}

.alert-pane-container {
	height: 52px;
}

.btn-viewtype-reset,
.btn-copy-assets {
	margin-bottom: 10px;
	margin-top: 0px;
}

.content-container {
	float: left;
	margin-bottom: 20px;
}

.filter-actions {
	width: 325px;
	float: right;
}

.image-listing {
	float: left;
	margin-left: 20px;
	min-width: 224px;
}

.image-found {
	padding-right: 10px;
}

.text-muted {
	color: #999 !important;
}

.heading-label {
    float:left;
}

.image-container {
	float: left;
	display: table-cell;
	vertical-align: middle;	
	boder: 0;
	padding: 0;
}

.loading-data-icon {
	height: 35px;
	width: 35px;
	border: 0;
	padding: 0;
	margin: 0;
}

.list-panel {
	min-width: 250px;
}

.panel-title {
	font-size: 17px;
	font-weight: 600;
}

.product-content-container {
	white-space: nowrap;
	display: inline-block;
	width: 100%;	
}

.product-image, .s7-image, .loading-image {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.modal-product-header {
	padding-bottom: 5px;	
}

.modal-product-title {
	margin-top: 0px !important;
}

.product-title {
	font-size: 24px;
	font-weight: 600;
	padding-top: 0;
	border-top: 0;
	margin-top: 5px;
	margin-bottom: 15px;
}

.panel-heading-height {
    height: 58px;
}

.preview-material-image-form {
    float: left;
    white-space: nowrap;
}

#panel-workspace {
	min-height: 500px;	
}

#panel-workspace .bx-wrapper .bx-viewport {
	border: 1px solid #fff !important;
}

.s7-image {
	border: 0;
}

.s7-image-border {
	border: 1px solid gainsboro !important;
}

.select-filter-container {
	float: right;
	width: 240px;
}

.bx-wrapper {
	margin-bottom: 30px !important;
}

.bx-viewport {
	height: 238px !important;
}

.bx-wrapper .bx-viewport {
	-webkit-box-shadow: 0 0 white !important;
	-moz-box-shadow: 0 0 white  !important;	
	box-shadow: 0 0 white  !important;
	border: 0 0 white  !important;
}

.carousel-container {
	margin-top: -5px;
}

.carousel-title-bar {
	display: inline-block;
}

.carousel-title {
	float: left;
	font-size: 24px;
	font-weight: 600;
	padding-top: 0;
	border-top: 0;
	margin-bottom: 30px;
	width: 325px;
	text-align: right;
}

.carousel-item img {
	border: 0;
}

.carousel-item-edited img {
	border: 1px dotted #84BD00;
}


.carousel-item-container {
	position: relative;
}

.carousel-controls-bar {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	line-height: 20px;
}

.hover-treatment {
	height: 5px;
	background-color: #84BD00;
	position: absolute;
	left: 0;
	bottom: 1px;
	z-index: 1000;
	width: 188px;
	bottom: 0px;
}

a.remove-icon,
a.detail-icon, 
a.info-icon,
a.left-icon,
a.right-icon {
	color: #c2c9c8;
}

a.detail-icon:hover, 
a.info-icon:hover,
a.left-icon:hover,
a.right-icon:hover
 {
	color: #84BD00;
}

a.remove-icon:hover {
	color: #DC322F;
}

a.remove-icon span {
	height: 20px;
	width: 20px;
	font-size: 24px;
	position: absolute;
	left: 153px;
	z-index: 1000;
	top: 27px;
}

a.info-icon span {
	height: 20px;
	width: 20px;
	font-size: 24px;
	position: absolute;
	left: 153px;
	z-index: 1000;
	top: 56px;
}

a.left-icon span {
	height: 20px;
	width: 20px;
	font-size: 24px;
	position: absolute;
	left: 10px;
	z-index: 1000;
	top: 170px;
}

a.right-icon span {
	height: 20px;
	width: 20px;
	font-size: 24px;
	position: absolute;
	left: 153px;
	z-index: 1000;
	top: 170px;
}

div.dropdown-menu.open {
	z-index: 4000 !important;
}

.carousel-button-enabled span {
    color: #84BD00;
}

.recipe-category {
	position: absolute;
	height: 20px;
	width: 188px;
	font-size: 13px;
	top: 0px;
	text-align: center;
	background-color: black;
	opacity: .5;
	color: white;
	font-weight: 700;		
}

.image-filename {
	position: absolute;
	height: 20px;
	width: 188px;
	font-size: 13px;
	text-align: center;
	bottom: 0px;
	background-color: black;
	opacity: .5;
	color: white;
	font-weight: 700;	
}

.detail-recipe-details {
	position: absolute;
	height: 40px;
	width: 634px;
	font-size: 24px;
	text-align: center;
	bottom: 0px;
	background-color: black;
	opacity: .5;
	color: white;
	font-weight: 700;	
}

.has-changed {
	color: #84BD00;	
}

.modal {
	overflow: hidden;
}

.modal-body-padding {
    padding: 15px !important;
}

.bold-label {
    font-weight: 700;
}

.question-mark {
    width: 75px;
    float: left;
    padding-right: 10px;
    display: inline-block;
    border: 0;
}

#detail-image-view {
	z-index: 5000 !important;	
}

#detail-image-view .original-container {
	width: 210px;
	border-right: 1px solid #e5e5e5;
	height: 500px;
}

#detail-image-view .image-filename {
	bottom: -19px !important;
}

#detail-image-view .details-container {
	clear: both;
	padding-top: 30px;
	width: 187px;
}

#detail-image-view .detail-image { 
    max-width: 547px;
    max-height: 500px;
}

#detail-image-view .modal-content { 
	height: 680px;
}

#detail-image-view .detail-view-type { 
	text-align: right;
}

#detail-image-view .original-container, .detail-container {
	float: left;
}

#detail-image-view .thumb-container {
	position: relative;
}

#detail-image-view .detail-container {
	width: 510px;
	height: 510px;	
	margin-left: 22px;
}

#detail-image-view .detail-dialog-width {
	width: 823px;
}

#detail-image-view .modal-body-height {
	height: 524px;
}

#detail-image-view .detail-instructions {
	font-size: 12px;
	margin-top: 5px;
}

#s7-asset-selector .s7-carousel-item {
	width: 188px !important;
	height: 227px !important;
}

#s7-asset-selector .s7-carousel-container {
	margin-left: 5px;
}

#s7-asset-selector .s7-carousel-container .bx-wrapper {
	margin-bottom: 0px !important;
}

#s7-asset-selector .s7-carousel-container .bx-viewport {
	height: 530px !important;
	width: 792px !important
}

#s7-asset-selector .s7-carousel-container .bx-wrapper .bx-next {
	right: -42px;
}

#s7-asset-selector .s7-carousel-container .bx-wrapper .bx-prev {
	left: -42px;
}
#s7-asset-selector .s7-carousel-container .bottom-asset {
	margin-top: 25px;
}

#s7-asset-selector .s7-carousel-container .bx-wrapper .bx-controls-direction a {
	top: 50% !important;
}

#s7-asset-selector .s7-carousel-item-container {
	position: relative;
	height: 237px;
}

#s7-asset-selector .s7-placeholder {
	cursor: default;
	height: 247px !important;
}

#s7-asset-selector .hover-treatment {
	bottom: 11px;
}

#s7-asset-selector ul.s7-carousel {
	padding-left: 0px !important;
}

#s7-asset-selector {
	z-index: 4000;
}

#s7-asset-selector h4.modal-title {
	margin-top: 4px;
}

#s7-asset-selector .modal-header {
	height: 60px;
	padding-top: 10px;
}

#s7-asset-selector .modal-body {
	height: 540px;
	padding: 16px;
}

#s7-asset-selector .modal-footer {
	margin-top: 11px;
	height: 62px;
	padding-top: 13px;
}

#s7-asset-selector .material-asset-filter {
	width: 245px;
	float: right;
	text-align: left;
}

#s7-asset-selector .image-filename {
	bottom: -9px;
}

#s7-asset-selector .selected-asset {
	border: 4px solid #84BD00;
}

#s7-asset-selector .recipe-category-filter {
	width: 305px;
	display: inline-block;
	float: left;
	text-align: left;
}

.footer-button-container {
	float: right;
}

.panel-title-bar {
	display: inline-block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
	height: 60px;
	width: 100%;	
	margin-bottom: 20px;
}

.panel-title-bar .carousel-title {
	font-size: 30px;
	border-bottom: 0px;
	border-top: 0px;
	margin-top: 12px;
	height: 34px;
	margin-bottom: 0px;
	line-height: 27px;
}

.panel-title-bar .carousel-controls-bar {
	margin-top: 12px;
}