
img { border:1px solid gainsboro; }

.pt-sans {
    font-family: 'PT Sans', sans-serif;
}

.bold-label {
    font-weight: 700;
}

.clipboard-container {
	margin-top: 10px;
}

.clipboard-title {
	color: #6F6F6F;
	font-weight: 700;
}

.btn-cl-width {
    width:100%;
}

a.clipboard-url:hover, 
a.clipboard-url.hover  {
    color: #48484C;
}

a.clipboard-url:active, 
a.clipboard-url.active  {
    color: #84BD00;
}

.control-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.control-container-heading {
    color: #6F6F6F;
    font-weight: 700;
    margin-top:12px;
    margin-bottom: 12px;
}

.control-element {
    float: left;
    width: 150px;
}

.control-item {
    margin-top: 4px;
    margin-bottom: 4px;
    clear:both;
}

.control-item-top {
    margin-top:10px;
}

.control-item-top-large {
    margin-top:20px;
}


.control-label {
    width: 110px;
    text-align: right;
    margin-right: 10px;
    float: left;
}

#scale-positioning-controls .control-label,
#format-controls .control-label {
    margin-top: 5px;
}

.control-label-select {
    margin-top:10px;
    cursor: pointer;
}

.control-label-recipe {
    margin-top:5px;
}

.control-label-slider {
    margin-top:14px;
    cursor: pointer;
}

.control-label-small {
    width: 75px;
    text-align: right;
    margin-right: 10px;
    float: left;
    margin-top:5px;
}

.editable-label-container {
    width: 65px;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
}

.enabled-recipe-buttons {
    color: #84bd00;
}

.enabled-slider {
    background-color: #c2ea8f;
}

.flex-input-group {
    display: flex;
}

.heading-label {
    float:left;
}

.image-dimensions {
    font-size: 16px;
}

.image-display-percentage {
    font-size: 12px;
    margin-top: -5px
}

.image-preview-container .image-label {
    text-align: center;
}

.image-title-container {
	height: 30px;
	vertical-align: middle;
	margin-top: 20px;
}

.image-title {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.json-field {
    margin-top:10px;
}

.modal {
	overflow: hidden;
}

.modal-body-padding {
    padding: 15px !important;
}

.panel-standard-height {
	height: 680px;
}

.panel-background {
    background-color: #f5f5f5;
}

.panel-heading-height {
    height: 58px;
}

.product-images-tabs {
    margin-top: 5px;
}

.preview-material-image-form {
    float: left;
    width: 50%;
    white-space: nowrap;
}

.product-image-field {
    width: 250px;
}

.question-mark {
    width: 75px;
    float: left;
    padding-right: 10px;
    display: inline-block;
    border: 0;
}

.recipe-button-bar {
    float:right;
}

.recipe-control {
    margin-top: 5px;
    text-decoration: none;
    color: #d6dbd6;
}

a:hover.recipe-control  {
    color: #84BD00;
}

.recipe-item-previous {
    padding-right: 7px;
}

.recipe-item-next {
    padding-left: 5px;
}

.recipe-image-preview {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
}

.recipe-selector {
    margin-top: 20px;
    text-align:left;
}

.recipe-preview-image-container {
    min-height:10em;
    vertical-align: middle;
    text-align: center;
}

.reset-button-xs-enabled {
    background-color: #F7F7F5;
    border-color: #dddbdb;
}

.reset-button-xs-enabled span {
    color: #84BD00;
}

.reset-button-xs {
    margin-top: 13px;
    height: 20px;
    width: 26px;
    text-align: center;

}

.select-control-group .bootstrap-select{
    display: inline-block;
    width: 100%;
}

.select-control-group {
    height: 34px;
}

.slider-control-icon {
    margin-top: 16px;
    color: #AFAFB9;
}

.slider-control-icon-enabled {
    color: #84BD00;
    cursor: pointer;
}

.slider-decrement-icon {
    margin-right: 12px;
}

.slider-increment-icon {
    margin-left: 7px;
}

.slider-width {
    width: 100%;
    margin-top:15px;
    display:flex;
}

.slider-value {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    margin-right: 2px;
    float: right;
}

.slider-value-suffix {
    margin-top: 15px;
    font-size: 12px;
    float: right;
}

.tab-content-height {
    height: inherit;
}

.toggle-message {
    margin-top: 10px;
    margin-left: 4px;
    color: #bababa;
}

