#reports-table {
	max-width: 100%;
	width: 100%;
    margin-top: 20px;
	border-collapse: collapse;
	font-family: Arial,sans-serif;
	font-size: 14px
}
#reports-table th {
	border-collapse: collapse;
	background: #f0f0f0 center right no-repeat;
	padding-right: 15px;
}
#wraper {
	position: relative;
}
.report_title {
	margin-bottom: 0;
	font-size: 1.6em;
    font-weight: bold;
}
.cell-header {
	border: 1px solid #ddd;
    padding: 5px 7px;
    vertical-align: top;
    text-align: center;
    width: 85px;
}
.cell-row {
	border: 1.2px solid #1b96ff;
	vertical-align: middle;
	text-align: center;
	padding: 2px;
}
.date-range-search-title {
	font-weight: bold;
	margin-bottom: 10px;
}
.date-range-table {
	padding: 8px;
	border: 1.2px solid #ddd;
}
.date-range-table label {
	font-weight: bold;
}
.date-comment {
	display: table-caption;
}
.date-range-table td {
	vertical-align: top;
	width: 100px;
}
.date-range-table .date-range-actions {
	text-align: right;
}
.export-block-action {
	float: right;
	text-decoration: none;
	padding: 5px 3px;
	clear: left;
}
.export-reports {
	text-decoration: none;
}
.error-msg {
	width: 100%;
	height: auto;
	position: absolute;
	top: 150%;
	color: red;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}
.error-msg-text {
	display: inline-block;
    max-width: 50%;
    word-wrap: break-word;
}
.hidden {
	display: none;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}