.b-wishlist {
    &-link {
        @include icon(fav-default);

        display: none;

        @include respond-to(desktop) {
            display: inline-block;
            padding: rem-calc(12);
            text-decoration: none;
            color: $grey4;
        }
    }

    &-icon {
        @include icon(fav-default);
    }
}
