.b-loyalty-checkbox-group {
    &_label-logo {
        .b-logo-image {
            display: block;
            margin: 0 0 rem-calc(8);
        }
    }

    .checkbox-loyalty {
        .g-checkbox-label {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            text-align: left;

            &::after {
                top: 0;
            }

            &::before {
                top: rem-calc(8);
            }
        }
    }

    .custom-checkbox {
        margin: 0 0 rem-calc(20);

        @include respond-to(desktop) {
            margin: 0 0 rem-calc(10);
        }
    }
}
