.g-loyalty-enrolled-success {
    .g-modal-content {
        padding: rem-calc(58) 0 rem-calc(24);
    }

    .g-modal-header {
        margin: 0 0 rem-calc(16);
    }

    .g-modal-header_title {
        font-size: rem-calc(24);
    }

    .g-modal-body {
        p {
            font-size: rem-calc(14);
            line-height: rem-calc(20);
        }
    }

    .g-modal-footer {
        margin: rem-calc(24) 0 0;
    }

    &_inner-wrapper {
        text-align: center;
        padding: 0 rem-calc(40);
    }

    &_btn-group {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: rem-calc(16) 0;
    }

    &_img {
        width: 100%;
        margin: 0 0 rem-calc(24);

        img {
            display: block;
            width: 100%;
        }
    }

    &_icon {
        margin: 0 0 rem-calc(8);
    }
}
