.g-modal-loyalty-enroll-repeat {
    .g-modal-content {
        padding: rem-calc(58) 0 rem-calc(24);
    }

    .modal-body {
        text-align: center;
    }

    .b-gated-enrollment {
        max-width: 100%;
        margin: 0;
    }
}
