$fonts_locale: null !default;
$font-base:  'NeuePlak', 'ARMOUR', 'Helvetica', 'Arial', sans-serif;
$font-base-size: 14;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-title: 900;

///	Font variants map is used in @mixin font.
///	All settings are here.
///	From the structure you can see that we can define
///	locale specific font family substitutions.
///	@group fonts
$fonts: (
    default: (
        main: (
            font-weight: 400,
        ),
        main_bold: (
            font-weight: 700,
        ),
        main_med: (
            font-weight: 500,
        ),
        main_semi_bold: (
            font-weight: 600,
        )
    )
);
