$white: #fff !default;
$black: #1d1d1d !default;

// Consolidated values
$grey1: #f7f7f7 !default;
$grey2: #f0f0f0 !default;
$grey3: #d0d0d0 !default;
$grey4: #949494 !default;
$grey5: #5f5f5f !default;
$grey6: #444 !default;
$grey7: #b4b4b4 !default;
$grey8: #8c8c8c !default;
$grey9: #ccc !default;
$grey10: #979797 !default;
$grey11: #929292 !default;
$grey12: #f3f3f3 !default;

$green: #008850;
$lightgreen: #238a12;
$red: #dc0019;
$red1: #e51b24;
$red2: #fbe5e7;
$loyalty-red: #ec1000;
$blue: #14a1ff;
$scarlet: #ff220b;
$boulder: #767676;
$gallery: #efefef;
$athens-gray: #f2f1f3;
$alto-gray: #d8d8d8;
$silver-chalice: #a3a3a3;
$red-disabled: #fab2ba;
$french-gray: #c8c7cc;
$athens-gray: #f0f2f4;
$nobel: #b4b4b4;
$deep-sea: #028850;
$cod-gray: #151515;

$primary-color: $black;
$element-color: $grey3;

$error-color: $red;
$success-color: $green;

$focus-color: $blue;
$placeholders-color: $grey4;

$facebook-button-color: (
    default-state: #3a5997,
    hover-state: #6d84b3,
    active-state: #4d6aa5,
    disabled-state: #c9d3e7
) !default;

$third-button-color: (
    default-state: $red,
    hover-state: #e93e51,
    active-state: #e6152d,
    disabled-state: #fab2ba
) !default;

$spacing: (
    xl3: 120,
    xl2: 80,
    xl: 64,
    lg: 56,
    md: 32,
    sm: 24,
    xs: 16,
    xs2: 8
) !default;

$search-black: (
    default-state: #949494,
    hover-state: #5f5f5f,
    active-state: #1d1d1d,
    default-suggestions-state: #444,
    background-state: #fff
) !default;

$search-white: (
    default-state: #949494,
    hover-state: #d0d0d0,
    active-state: #fff,
    default-suggestions-state: #f0f0f0,
    background-state: #1d1d1d
) !default;

$container-margins: (
    mobile: 16,
    desktop: 24
) !default;

$container-max-widths: (
    tablets-landscape: 1488px,
    desktop-large: 1488px
) !default;

$grid-columns: 12 !default;

$grid-gutter-width-map: (
    mobile: 16,
    phones: 16,
    desktop: 24,
    desktop-large: 24
) !default;

// Bootstrap overrides
$body-bg: $white !default;
$bady-color: $black !default;
$card-cap-bg: $white !default;
$modal-bg: $white !default;

