@import '~org/1-settings/all';
@import './components/b-loyalty-checkbox-group';
@import './components/g-modal-loyalty';
@import './components/g-loyalty-enrolled-success';
@import './components/b-gated-enrollment';
@import './components/g-modal-loyalty-enroll-repeat';

.g-checkbox {
    &_loyalty-hide {
        visibility: hidden !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.g-modal-loginform .g-modal-dialog .login_enroll-rewards {
    .b-input_row-combine {
        padding: 0 0 rem-calc(24) 0;
    }

    .g-checkbox_loyalty-enroll {
        margin: 0 0 rem-calc(24);
    }
}
