#reports-table {
	max-width: 100%;
	width: 100%;
    margin-top: 20px;
	border-collapse: collapse;
	font-family: Arial,sans-serif;
	font-size: 14px
}
#reports-table th {
	border-collapse: collapse;
	background: #f0f0f0 center right no-repeat;
	padding-right: 15px;
}

.export-block-action {
	float: right;
	padding: 5px 3px;
}

.cell {
	border: 1px solid #ddd;
    padding: 5px 7px;
    vertical-align: top;
    text-align: center;
    width: 85px;
}
.cell.date {
	width : 70px;
}
.cell.action {
    vertical-align: middle;
    width: 55px;
}
.cell a {
    vertical-align: middle;
    padding: 2px;
}

/****	Orders List Accordions	****/
.orders-accordion {
	padding: 0px;
	width: 180px;
	margin: auto;
}
.orders-accordion .accordion-header {
	padding: 0px;
}
.orders-accordion .ui-accordion-content {
	max-height: 100px !important;
	padding: 2px;
	text-align: left;
}
.orders-accordion-content a {
	font-size: 11px;
}

/****	Time Range	****/
#time-range-accordion {
	dispaly: inline-block;
	width: 400px;
}
#date-range-search fieldset{
	border: none;
}

.time-range-calendar .time-range-title {
	font-weight: bold;
}
.time-range-calendar label {
	font-weight: bold;
}
.date-comment {
	display: table-caption;
}
.time-range-table td {
	vertical-align: top;
	width: 100px;
}
.time-range-table .time-range-actions {
	text-align: right;
}

/****   Breadcrumbs	****/
.capitalize,
.breadcrumb {
	text-transform: capitalize;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}