[data-theme="textonly"].json-viewer {
  font-family: monospace;
  font-size: 14px;
}
[data-theme="textonly"] a.toggle {
  text-decoration: none;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 20px;
}
[data-theme="textonly"] a.toggle:before {
  content: '-';
  font-size: 14px;
}
[data-theme="textonly"] a.toggle.left {
  margin-left: 0;
}
[data-theme="textonly"] a.toggle.left + .tree-branch {
  left: 20px;
}
[data-theme="textonly"] a.toggle.middle {
  margin-left: 0;
}
[data-theme="textonly"] a.toggle.right {
  margin-left: 0;
}
[data-theme="textonly"] a.toggle.inactive {
  background-image: none !important;
  cursor: default;
}
[data-theme="textonly"] a.toggle.inactive:before {
  content: '';
}
[data-theme="textonly"] span.dummy {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 20px;
}
[data-theme="textonly"] div.element-head {
  display: inline-block;
  vertical-align: top;
  height: 20px;
}
[data-theme="textonly"] span.type-icon {
  display: none;
}
[data-theme="textonly"] span.element-head {
  height: 17px;
}
[data-theme="textonly"] span.element-name {
  vertical-align: middle;
  font-weight: bold;
  cursor: default;
}
[data-theme="textonly"] span.element-name:after {
  content: ': ';
}
[data-theme="textonly"] span.element-value {
  vertical-align: middle;
  cursor: default;
}
[data-theme="textonly"] ul.element-container {
  clear: left;
  margin-top: 0;
  margin-left: 12px;
  padding-left: 0;
}
[data-theme="textonly"] ul.element-container:after {
  display: block;
  clear: both;
}
[data-theme="textonly"] li.member {
  float: left;
  clear: both;
  list-style: none;
  position: relative;
  margin-bottom: 1px;
  white-space: nowrap;
  margin-left: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px dotted #e1e1e1;
}
[data-theme="textonly"] li.member.empty > .element-container {
  display: none;
}
[data-theme="textonly"] li.member.empty.array > .element-head:after {
  font-size: 12px;
  content: '[ ],';
}
[data-theme="textonly"] li.member.empty.object > .element-head:after {
  font-size: 12px;
  content: '{ },';
}
[data-theme="textonly"] li.member.empty.last.array > .element-head:after {
  content: '[ ]';
}
[data-theme="textonly"] li.member.empty.last.object > .element-head:after {
  content: '{ }';
}
[data-theme="textonly"] li.member.array > .element-container:after {
  font-size: 12px;
  content: '],';
}
[data-theme="textonly"] li.member.array > .element-container > .member > .element-head > .element-name {
  display: none;
}
[data-theme="textonly"] li.member.array > .element-head:after {
  font-size: 12px;
  content: '[';
}
[data-theme="textonly"] li.member.array.collapsed > .element-head:after {
  content: '[...],';
}
[data-theme="textonly"] li.member.array.last > .element-container:after {
  content: ']';
}
[data-theme="textonly"] li.member.array.last.collapsed > .element-head:after {
  content: '[...]';
}
[data-theme="textonly"] li.member.object > .element-container:after {
  font-size: 12px;
  content: '},';
}
[data-theme="textonly"] li.member.object > .element-head:after {
  font-size: 12px;
  content: '{';
}
[data-theme="textonly"] li.member.object.collapsed > .element-head:after {
  content: '{...},';
}
[data-theme="textonly"] li.member.object.last > .element-container:after {
  content: '}';
}
[data-theme="textonly"] li.member.object.last.collapsed > .element-head:after {
  content: '{...}';
}
[data-theme="textonly"] li.member.collapsed > .element-container {
  display: none;
}
[data-theme="textonly"] li.member.collapsed > .toggle:before {
  content: '+';
}
[data-theme="textonly"] li.member.number:after,
[data-theme="textonly"] li.member.null:after,
[data-theme="textonly"] li.member.boolean:after,
[data-theme="textonly"] li.member.string > .element-head:after {
  content: ',';
}
[data-theme="textonly"] li.member.last.number:after,
[data-theme="textonly"] li.member.last.null:after,
[data-theme="textonly"] li.member.last.boolean:after,
[data-theme="textonly"] li.member.last.string > .element-head:after {
  content: '';
}
[data-theme="textonly"] li.member.highlighted {
  transition: background-color 0.2s ease-out 0.1s;
  background-color: #bae2f5;
}
[data-theme="textonly"] li.member.selected {
  background-color: #8ccff0;
}
[data-theme="textonly"] li.member.boolean > .element-head > .element-value {
  color: red;
}
[data-theme="textonly"] li.member.null > .element-head > .element-value {
  color: gray;
}
[data-theme="textonly"] li.member.number > .element-head > .element-value {
  color: blue;
}
[data-theme="textonly"] li.member.string > .element-head > .element-value {
  color: green;
}
[data-theme="textonly"] li.member.string > .element-head > .element-value:before,
[data-theme="textonly"] li.member.string > .element-head > .element-value:after {
  content: '"';
}
[data-theme="textonly"].json-viewer.array > .element-container:after {
  font-size: 12px;
  content: ']';
}
[data-theme="textonly"].json-viewer.array > .element-container > .member > .element-head > .element-name {
  display: none;
}
[data-theme="textonly"].json-viewer.array > .element-head:after {
  font-size: 12px;
  content: '[';
}
[data-theme="textonly"].json-viewer.array.collapsed > .element-head:after {
  content: '[...]';
}
[data-theme="textonly"].json-viewer.object > .element-container:after {
  font-size: 12px;
  content: '}';
}
[data-theme="textonly"].json-viewer.object > .element-head:after {
  font-size: 12px;
  content: '{';
}
[data-theme="textonly"].json-viewer.object.collapsed > .element-head:after {
  content: '{...}';
}
[data-theme="textonly"].json-viewer.collapsed > .element-container {
  display: none;
}
[data-theme="textonly"].json-viewer.collapsed > .toggle:before {
  content: '+';
}
[data-theme="textonly"] .tree-line {
  display: none;
}
[data-theme="textonly"] .tree-branch {
  display: none;
}
/* MIXINS */





[data-theme="horizontal-left"].json-viewer {
  font-family: "Palatino Linotype";
  font-size: 14px;
  font-weight: bold;
}
[data-theme="horizontal-left"] ul.element-container {
  white-space: nowrap;
  padding: 0px;
  margin-top: 0px;
}
[data-theme="horizontal-left"] div.element-head {
  background-color: #fdfdfd;
  display: inline-block;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-style: italic;
  padding: 4px 4px 4px 4px;
  margin: 20px 4px 19px 0px;
  z-index: 3;
}
[data-theme="horizontal-left"] div.element-head > .element-value {
  display: none;
  font-style: normal;
  font-weight: 300;
}
[data-theme="horizontal-left"] .member.array > .tree-line + .element-head,
[data-theme="horizontal-left"].member.array > .tree-line + .element-head,
[data-theme="horizontal-left"] .member.object > .tree-line + .element-head,
[data-theme="horizontal-left"].member.object > .tree-line + .element-head {
  padding-right: 26px;
}
[data-theme="horizontal-left"] .member.array > .toggle ~ .element-head,
[data-theme="horizontal-left"].member.array > .toggle ~ .element-head,
[data-theme="horizontal-left"] .member.object > .toggle ~ .element-head,
[data-theme="horizontal-left"].member.object > .toggle ~ .element-head {
  padding-right: 4px;
}
[data-theme="horizontal-left"] .member.array > ul > .member > .element-head > .element-name,
[data-theme="horizontal-left"].member.array > ul > .member > .element-head > .element-name {
  display: none;
}
[data-theme="horizontal-left"] .member.array > ul > .member > .element-head > .element-value,
[data-theme="horizontal-left"].member.array > ul > .member > .element-head > .element-value {
  display: inherit;
}
[data-theme="horizontal-left"] .member.array > ul > .member.object > .element-head > .element-name,
[data-theme="horizontal-left"].member.array > ul > .member.object > .element-head > .element-name {
  display: inherit;
}
[data-theme="horizontal-left"] span.type-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
}
[data-theme="horizontal-left"] span.type-icon:before {
  font-family: "Trebuchet MS";
  font-weight: bolder;
  font-size: 14px;
  font-style: normal;
  content: "123";
  visibility: hidden;
  color: #333333;
}
[data-theme="horizontal-left"] span.type-icon.array {
  background-color: crimson;
  width: 40px;
}
[data-theme="horizontal-left"] span.type-icon.array:before {
  visibility: visible;
  content: '[...]';
  color: white;
}
[data-theme="horizontal-left"] span.type-icon.object,
[data-theme="horizontal-left"] span.type-icon.json {
  background-color: orange;
  width: 40px;
}
[data-theme="horizontal-left"] span.type-icon.object:before,
[data-theme="horizontal-left"] span.type-icon.json:before {
  visibility: visible;
  content: '{...}';
}
[data-theme="horizontal-left"] span.type-icon.number {
  background-color: blue;
}
[data-theme="horizontal-left"] span.type-icon.boolean {
  background-color: red;
}
[data-theme="horizontal-left"] span.type-icon.string {
  background-color: green;
}
[data-theme="horizontal-left"] span.type-icon.null {
  background-color: gray;
}
[data-theme="horizontal-left"].member,
[data-theme="horizontal-left"] li.member {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  z-index: 2;
}
[data-theme="horizontal-left"].member.empty > .toggle,
[data-theme="horizontal-left"] li.member.empty > .toggle {
  background-image: none;
}
[data-theme="horizontal-left"].member.empty > .tree-line,
[data-theme="horizontal-left"] li.member.empty > .tree-line {
  height: 20px;
}
[data-theme="horizontal-left"].member.collapsed > .toggle,
[data-theme="horizontal-left"] li.member.collapsed > .toggle {
  background: url('../assets/buttons/toggle_expand.png') center no-repeat;
}
[data-theme="horizontal-left"].member.collapsed > .element-container,
[data-theme="horizontal-left"] li.member.collapsed > .element-container {
  display: none;
}
[data-theme="horizontal-left"].member.collapsed > .tree-line,
[data-theme="horizontal-left"] li.member.collapsed > .tree-line {
  height: 20px !important;
}
[data-theme="horizontal-left"].member.first > .tree-branch,
[data-theme="horizontal-left"] li.member.first > .tree-branch {
  margin-left: 4px;
}
[data-theme="horizontal-left"].member.first.last,
[data-theme="horizontal-left"] li.member.first.last {
  margin-top: -19px;
}
[data-theme="horizontal-left"].member.first.last > .tree-branch,
[data-theme="horizontal-left"] li.member.first.last > .tree-branch {
  display: none;
}
[data-theme="horizontal-left"].member.last > .tree-branch,
[data-theme="horizontal-left"] li.member.last > .tree-branch {
  width: 4px;
}
[data-theme="horizontal-left"].member.string > .element-head,
[data-theme="horizontal-left"] li.member.string > .element-head,
[data-theme="horizontal-left"].member.string > .toggle,
[data-theme="horizontal-left"] li.member.string > .toggle {
  border-color: #80c080;
}
[data-theme="horizontal-left"].member.number > .element-head,
[data-theme="horizontal-left"] li.member.number > .element-head,
[data-theme="horizontal-left"].member.number > .toggle,
[data-theme="horizontal-left"] li.member.number > .toggle {
  border-color: #8080ff;
}
[data-theme="horizontal-left"].member.boolean > .element-head,
[data-theme="horizontal-left"] li.member.boolean > .element-head,
[data-theme="horizontal-left"].member.boolean > .toggle,
[data-theme="horizontal-left"] li.member.boolean > .toggle {
  border-color: #ff8080;
}
[data-theme="horizontal-left"].member.null > .element-head,
[data-theme="horizontal-left"] li.member.null > .element-head,
[data-theme="horizontal-left"].member.null > .toggle,
[data-theme="horizontal-left"] li.member.null > .toggle {
  border-color: silver;
}
[data-theme="horizontal-left"].member.array > .element-head,
[data-theme="horizontal-left"] li.member.array > .element-head,
[data-theme="horizontal-left"].member.array > .toggle,
[data-theme="horizontal-left"] li.member.array > .toggle {
  border-color: #ee8a9e;
}
[data-theme="horizontal-left"].member.object > .element-head,
[data-theme="horizontal-left"] li.member.object > .element-head,
[data-theme="horizontal-left"].member.object > .toggle,
[data-theme="horizontal-left"] li.member.object > .toggle {
  border-color: #ffd280;
}
[data-theme="horizontal-left"] li.member.highlighted .element-head,
[data-theme="horizontal-left"] li.member.highlighted .toggle.middle,
[data-theme="horizontal-left"] li.member.highlighted .toggle.left {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: #fafafa !important;
}
[data-theme="horizontal-left"] li.member.selected .element-head,
[data-theme="horizontal-left"] li.member.selected .toggle.middle,
[data-theme="horizontal-left"] li.member.selected .toggle.left {
  background-color: #f3f3f3;
}
[data-theme="horizontal-left"] li.member.selected .tree-line {
  width: 3px;
  left: -1px;
}
[data-theme="horizontal-left"] li.member.selected ul .tree-branch {
  border-width: 2px;
}
[data-theme="horizontal-left"].member.collapsed > .tree-line {
  height: 0px !important;
}
[data-theme="horizontal-left"] span.dummy {
  display: inline-block;
}
[data-theme="horizontal-left"] span.dummy.middle,
[data-theme="horizontal-left"] span.dummy.left {
  float: left;
  margin-top: 20px;
}
[data-theme="horizontal-left"] span.tree-line {
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #e5e5e5;
  margin-left: 4px;
  z-index: -1;
}
[data-theme="horizontal-left"] span.tree-line.expandable {
  height: 70px;
}
[data-theme="horizontal-left"] span.tree-line.json {
  top: 50px;
  margin-bottom: 0px;
}
[data-theme="horizontal-left"] span.tree-branch {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e5e5e5;
}
[data-theme="horizontal-left"] a.toggle {
  display: inline-block;
  box-sizing: content-box;
  width: 33px;
  height: 28px;
  background: url('../assets/buttons/toggle_collapse.png') center no-repeat;
}
[data-theme="horizontal-left"] a.toggle.right {
  margin-left: -33px;
  margin-bottom: -8px;
}
[data-theme="horizontal-left"] a.toggle.middle,
[data-theme="horizontal-left"] a.toggle.left {
  float: left;
  margin-top: 20px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  background-color: #fdfdfd;
}
[data-theme="horizontal-left"] a.toggle.middle ~ .element-head,
[data-theme="horizontal-left"] a.toggle.left ~ .element-head {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}
[data-theme="horizontal-left"] a.toggle.inactive {
  cursor: default;
}






[data-theme="horizontal-center"].json-viewer {
  font-family: "Palatino Linotype";
  font-size: 14px;
  font-weight: bold;
}
[data-theme="horizontal-center"] ul.element-container {
  white-space: nowrap;
  padding: 0px;
  margin-top: 0px;
}
[data-theme="horizontal-center"] div.element-head {
  background-color: #fdfdfd;
  display: inline-block;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-style: italic;
  padding: 4px 4px 4px 4px;
  margin: 20px 4px 19px 0px;
  z-index: 3;
}
[data-theme="horizontal-center"] div.element-head > .element-value {
  display: none;
  font-style: normal;
  font-weight: 300;
}
[data-theme="horizontal-center"] .member.array > .tree-line + .element-head,
[data-theme="horizontal-center"].member.array > .tree-line + .element-head,
[data-theme="horizontal-center"] .member.object > .tree-line + .element-head,
[data-theme="horizontal-center"].member.object > .tree-line + .element-head {
  padding-right: 26px;
}
[data-theme="horizontal-center"] .member.array > .toggle ~ .element-head,
[data-theme="horizontal-center"].member.array > .toggle ~ .element-head,
[data-theme="horizontal-center"] .member.object > .toggle ~ .element-head,
[data-theme="horizontal-center"].member.object > .toggle ~ .element-head {
  padding-right: 4px;
}
[data-theme="horizontal-center"] .member.array > ul > .member > .element-head > .element-name,
[data-theme="horizontal-center"].member.array > ul > .member > .element-head > .element-name {
  display: none;
}
[data-theme="horizontal-center"] .member.array > ul > .member > .element-head > .element-value,
[data-theme="horizontal-center"].member.array > ul > .member > .element-head > .element-value {
  display: inherit;
}
[data-theme="horizontal-center"] .member.array > ul > .member.object > .element-head > .element-name,
[data-theme="horizontal-center"].member.array > ul > .member.object > .element-head > .element-name {
  display: inherit;
}
[data-theme="horizontal-center"] span.type-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
}
[data-theme="horizontal-center"] span.type-icon:before {
  font-family: "Trebuchet MS";
  font-weight: bolder;
  font-size: 14px;
  font-style: normal;
  content: "123";
  visibility: hidden;
  color: #333333;
}
[data-theme="horizontal-center"] span.type-icon.array {
  background-color: crimson;
  width: 40px;
}
[data-theme="horizontal-center"] span.type-icon.array:before {
  visibility: visible;
  content: '[...]';
  color: white;
}
[data-theme="horizontal-center"] span.type-icon.object,
[data-theme="horizontal-center"] span.type-icon.json {
  background-color: orange;
  width: 40px;
}
[data-theme="horizontal-center"] span.type-icon.object:before,
[data-theme="horizontal-center"] span.type-icon.json:before {
  visibility: visible;
  content: '{...}';
}
[data-theme="horizontal-center"] span.type-icon.number {
  background-color: blue;
}
[data-theme="horizontal-center"] span.type-icon.boolean {
  background-color: red;
}
[data-theme="horizontal-center"] span.type-icon.string {
  background-color: green;
}
[data-theme="horizontal-center"] span.type-icon.null {
  background-color: gray;
}
[data-theme="horizontal-center"].member,
[data-theme="horizontal-center"] li.member {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  z-index: 2;
}
[data-theme="horizontal-center"].member.empty > .toggle,
[data-theme="horizontal-center"] li.member.empty > .toggle {
  background-image: none;
}
[data-theme="horizontal-center"].member.empty > .tree-line,
[data-theme="horizontal-center"] li.member.empty > .tree-line {
  height: 20px;
}
[data-theme="horizontal-center"].member.collapsed > .toggle,
[data-theme="horizontal-center"] li.member.collapsed > .toggle {
  background: url('../assets/buttons/toggle_expand.png') center no-repeat;
}
[data-theme="horizontal-center"].member.collapsed > .element-container,
[data-theme="horizontal-center"] li.member.collapsed > .element-container {
  display: none;
}
[data-theme="horizontal-center"].member.collapsed > .tree-line,
[data-theme="horizontal-center"] li.member.collapsed > .tree-line {
  height: 20px !important;
}
[data-theme="horizontal-center"].member.first > .tree-branch,
[data-theme="horizontal-center"] li.member.first > .tree-branch {
  width: 50%;
  margin-left: 50%;
}
[data-theme="horizontal-center"].member.first.last,
[data-theme="horizontal-center"] li.member.first.last {
  margin-top: -19px;
}
[data-theme="horizontal-center"].member.first.last > .tree-branch,
[data-theme="horizontal-center"] li.member.first.last > .tree-branch {
  display: none;
}
[data-theme="horizontal-center"].member.last > .tree-branch,
[data-theme="horizontal-center"] li.member.last > .tree-branch {
  width: 50%;
}
[data-theme="horizontal-center"].member.string > .element-head,
[data-theme="horizontal-center"] li.member.string > .element-head,
[data-theme="horizontal-center"].member.string > .toggle,
[data-theme="horizontal-center"] li.member.string > .toggle {
  border-color: #80c080;
}
[data-theme="horizontal-center"].member.number > .element-head,
[data-theme="horizontal-center"] li.member.number > .element-head,
[data-theme="horizontal-center"].member.number > .toggle,
[data-theme="horizontal-center"] li.member.number > .toggle {
  border-color: #8080ff;
}
[data-theme="horizontal-center"].member.boolean > .element-head,
[data-theme="horizontal-center"] li.member.boolean > .element-head,
[data-theme="horizontal-center"].member.boolean > .toggle,
[data-theme="horizontal-center"] li.member.boolean > .toggle {
  border-color: #ff8080;
}
[data-theme="horizontal-center"].member.null > .element-head,
[data-theme="horizontal-center"] li.member.null > .element-head,
[data-theme="horizontal-center"].member.null > .toggle,
[data-theme="horizontal-center"] li.member.null > .toggle {
  border-color: silver;
}
[data-theme="horizontal-center"].member.array > .element-head,
[data-theme="horizontal-center"] li.member.array > .element-head,
[data-theme="horizontal-center"].member.array > .toggle,
[data-theme="horizontal-center"] li.member.array > .toggle {
  border-color: #ee8a9e;
}
[data-theme="horizontal-center"].member.object > .element-head,
[data-theme="horizontal-center"] li.member.object > .element-head,
[data-theme="horizontal-center"].member.object > .toggle,
[data-theme="horizontal-center"] li.member.object > .toggle {
  border-color: #ffd280;
}
[data-theme="horizontal-center"] li.member.highlighted .element-head,
[data-theme="horizontal-center"] li.member.highlighted .toggle.middle,
[data-theme="horizontal-center"] li.member.highlighted .toggle.left {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: #fafafa !important;
}
[data-theme="horizontal-center"] li.member.selected .element-head,
[data-theme="horizontal-center"] li.member.selected .toggle.middle,
[data-theme="horizontal-center"] li.member.selected .toggle.left {
  background-color: #f3f3f3;
}
[data-theme="horizontal-center"] li.member.selected .tree-line {
  width: 3px;
  left: -1px;
}
[data-theme="horizontal-center"] li.member.selected ul .tree-branch {
  border-width: 2px;
}
[data-theme="horizontal-center"].member.collapsed > .tree-line {
  height: 0px !important;
}
[data-theme="horizontal-center"] span.tree-line {
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #e5e5e5;
  margin-left: 50%;
  top: 0;
  z-index: -1;
}
[data-theme="horizontal-center"] span.tree-line.expandable {
  height: 70px;
}
[data-theme="horizontal-center"] span.tree-line.json {
  top: 50px;
  margin-bottom: 0px;
}
[data-theme="horizontal-center"] span.tree-branch {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e5e5e5;
}
[data-theme="horizontal-center"] a.toggle {
  display: inline-block;
  box-sizing: content-box;
  width: 33px;
  height: 28px;
  background: url('../assets/buttons/toggle_collapse.png') center no-repeat;
}
[data-theme="horizontal-center"] a.toggle.right {
  margin-left: -33px;
  margin-bottom: -8px;
}
[data-theme="horizontal-center"] a.toggle.middle,
[data-theme="horizontal-center"] a.toggle.left {
  margin-bottom: -10px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
}
[data-theme="horizontal-center"] a.toggle.middle ~ .element-head,
[data-theme="horizontal-center"] a.toggle.left ~ .element-head {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}
[data-theme="horizontal-center"] a.toggle.inactive {
  cursor: default;
}








[data-theme="default"].json-viewer {
  font-family: 'Helvetica';
  font-size: 14px;
}
[data-theme="default"] a.toggle {
  text-decoration: none;
  outline: 0;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 24px;
  background: url('../assets/buttons/close.png') center no-repeat;
}
[data-theme="default"] a.toggle.left {
  margin-left: 0;
}
[data-theme="default"] a.toggle.left + .tree-branch {
  left: 20px;
}
[data-theme="default"] a.toggle.middle {
  margin-left: 0;
}
[data-theme="default"] a.toggle.right {
  margin-left: 0;
}
[data-theme="default"] a.toggle.inactive {
  background-image: none !important;
  cursor: default;
}
[data-theme="default"] span.dummy {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 24px;
}
[data-theme="default"] div.element-head {
  display: inline-block;
  vertical-align: top;
}
[data-theme="default"] span.type-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 5px;
}
[data-theme="default"] span.type-icon.object {
  background: orange;
}
[data-theme="default"] span.type-icon.array {
  background: crimson;
}
[data-theme="default"] span.type-icon.number {
  background: blue;
}
[data-theme="default"] span.type-icon.string {
  background: green;
}
[data-theme="default"] span.type-icon.boolean {
  background: red;
}
[data-theme="default"] span.type-icon.null {
  background: gray;
}
[data-theme="default"] span.element-name {
  vertical-align: middle;
  font-weight: bold;
  cursor: default;
}
[data-theme="default"] span.element-value {
  vertical-align: middle;
  font-style: italic;
  cursor: default;
  white-space: pre;
}
[data-theme="default"] span.element-value:before {
  content: ': ';
  font-weight: bold;
  font-style: normal;
}
[data-theme="default"] ul.element-container {
  clear: left;
  margin-top: 0;
  margin-left: 22px;
  padding-left: 0;
}
[data-theme="default"] li.member,
[data-theme="default"].json-viewer {
  list-style: none;
  position: relative;
  margin-bottom: 0px;
  white-space: nowrap;
  float: left;
  clear: both;
  padding-right: 10px;
}
[data-theme="default"] li.member.empty > .tree-line,
[data-theme="default"].json-viewer.empty > .tree-line {
  background: url('../assets/lines/lines_hollow_24.png');
}
[data-theme="default"] li.member.empty.last > .tree-line,
[data-theme="default"].json-viewer.empty.last > .tree-line {
  background: url('../assets/lines/lines_hollow_24.png') -24px 0 !important;
}
[data-theme="default"] li.member.empty > .toggle,
[data-theme="default"].json-viewer.empty > .toggle {
  background-image: none;
}
[data-theme="default"] li.member.collapsed > .element-container,
[data-theme="default"].json-viewer.collapsed > .element-container {
  display: none;
}
[data-theme="default"] li.member.string .tree-branch,
[data-theme="default"].json-viewer.string .tree-branch,
[data-theme="default"] li.member.null .tree-branch,
[data-theme="default"].json-viewer.null .tree-branch,
[data-theme="default"] li.member.number .tree-branch,
[data-theme="default"].json-viewer.number .tree-branch,
[data-theme="default"] li.member.boolean .tree-branch,
[data-theme="default"].json-viewer.boolean .tree-branch {
  display: none;
}
[data-theme="default"] li.member.last > .tree-line,
[data-theme="default"].json-viewer.last > .tree-line {
  background: url('../assets/lines/lines_hollow_24.png') -24px 0;
}
[data-theme="default"] li.member.last > .tree-line.expandable,
[data-theme="default"].json-viewer.last > .tree-line.expandable {
  background: url('../assets/lines/lines_hollow_24.png') -72px 0;
}
[data-theme="default"] li.member.last.collapsed > .tree-line,
[data-theme="default"].json-viewer.last.collapsed > .tree-line {
  background: url('../assets/lines/lines_hollow_24.png') -24px 0;
}
[data-theme="default"] li.member.last > .toggle,
[data-theme="default"].json-viewer.last > .toggle {
  margin-left: 0px;
}
[data-theme="default"] li.member.last > .tree-branch,
[data-theme="default"].json-viewer.last > .tree-branch {
  display: none;
}
[data-theme="default"] li.member.collapsed > .tree-line,
[data-theme="default"].json-viewer.collapsed > .tree-line {
  background: url('../assets/lines/lines_hollow_24.png');
}
[data-theme="default"] li.member.collapsed > .tree-line.json,
[data-theme="default"].json-viewer.collapsed > .tree-line.json {
  background-image: none;
}
[data-theme="default"] li.member.collapsed > .toggle,
[data-theme="default"].json-viewer.collapsed > .toggle {
  background: url('../assets/buttons/open.png') center no-repeat;
}
[data-theme="default"] li.member.highlighted {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: whitesmoke;
}
[data-theme="default"] li.member.selected {
  background-color: #f1f1f1;
}
[data-theme="default"].json-viewer.array > .element-head > .type-icon.json {
  background: crimson;
}
[data-theme="default"].json-viewer.object > .element-head > .type-icon.json {
  background: orange;
}
[data-theme="default"] .tree-line {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  z-index: -1;
  background: url('../assets/lines/lines_hollow_24.png');
  background-repeat: no-repeat;
}
[data-theme="default"] .tree-line.expandable {
  background: url('../assets/lines/lines_hollow_24.png') -48px 0;
  margin-left: 0;
}
[data-theme="default"] .tree-line.json {
  background: url('../assets/lines/lines_hollow_24.png') -96px 0;
}
[data-theme="default"] .tree-branch {
  position: absolute;
  left: 0px;
  width: 1px;
  height: 100%;
  background-image: url('../assets/branch.png');
  background-repeat: repeat-y;
  background-position: -9px;
}
