[data-theme="horizontal-center"].json-viewer {
  font-family: "Palatino Linotype";
  font-size: 14px;
  font-weight: bold;
}
[data-theme="horizontal-center"] ul.element-container {
  white-space: nowrap;
  padding: 0px;
  margin-top: 0px;
}
[data-theme="horizontal-center"] div.element-head {
  background-color: #fdfdfd;
  display: inline-block;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-style: italic;
  padding: 4px 4px 4px 4px;
  margin: 20px 4px 19px 0px;
  z-index: 3;
}
[data-theme="horizontal-center"] div.element-head > .element-value {
  display: none;
  font-style: normal;
  font-weight: 300;
}
[data-theme="horizontal-center"] .member.array > .tree-line + .element-head,
[data-theme="horizontal-center"].member.array > .tree-line + .element-head,
[data-theme="horizontal-center"] .member.object > .tree-line + .element-head,
[data-theme="horizontal-center"].member.object > .tree-line + .element-head {
  padding-right: 26px;
}
[data-theme="horizontal-center"] .member.array > .toggle ~ .element-head,
[data-theme="horizontal-center"].member.array > .toggle ~ .element-head,
[data-theme="horizontal-center"] .member.object > .toggle ~ .element-head,
[data-theme="horizontal-center"].member.object > .toggle ~ .element-head {
  padding-right: 4px;
}
[data-theme="horizontal-center"] .member.array > ul > .member > .element-head > .element-name,
[data-theme="horizontal-center"].member.array > ul > .member > .element-head > .element-name {
  display: none;
}
[data-theme="horizontal-center"] .member.array > ul > .member > .element-head > .element-value,
[data-theme="horizontal-center"].member.array > ul > .member > .element-head > .element-value {
  display: inherit;
}
[data-theme="horizontal-center"] .member.array > ul > .member.object > .element-head > .element-name,
[data-theme="horizontal-center"].member.array > ul > .member.object > .element-head > .element-name {
  display: inherit;
}
[data-theme="horizontal-center"] span.type-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
}
[data-theme="horizontal-center"] span.type-icon:before {
  font-family: "Trebuchet MS";
  font-weight: bolder;
  font-size: 14px;
  font-style: normal;
  content: "123";
  visibility: hidden;
  color: #333333;
}
[data-theme="horizontal-center"] span.type-icon.array {
  background-color: crimson;
  width: 40px;
}
[data-theme="horizontal-center"] span.type-icon.array:before {
  visibility: visible;
  content: '[...]';
  color: white;
}
[data-theme="horizontal-center"] span.type-icon.object,
[data-theme="horizontal-center"] span.type-icon.json {
  background-color: orange;
  width: 40px;
}
[data-theme="horizontal-center"] span.type-icon.object:before,
[data-theme="horizontal-center"] span.type-icon.json:before {
  visibility: visible;
  content: '{...}';
}
[data-theme="horizontal-center"] span.type-icon.number {
  background-color: blue;
}
[data-theme="horizontal-center"] span.type-icon.boolean {
  background-color: red;
}
[data-theme="horizontal-center"] span.type-icon.string {
  background-color: green;
}
[data-theme="horizontal-center"] span.type-icon.null {
  background-color: gray;
}
[data-theme="horizontal-center"].member,
[data-theme="horizontal-center"] li.member {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  z-index: 2;
}
[data-theme="horizontal-center"].member.empty > .toggle,
[data-theme="horizontal-center"] li.member.empty > .toggle {
  background-image: none;
}
[data-theme="horizontal-center"].member.empty > .tree-line,
[data-theme="horizontal-center"] li.member.empty > .tree-line {
  height: 20px;
}
[data-theme="horizontal-center"].member.collapsed > .toggle,
[data-theme="horizontal-center"] li.member.collapsed > .toggle {
  background: url('../assets/buttons/toggle_expand.png') center no-repeat;
}
[data-theme="horizontal-center"].member.collapsed > .element-container,
[data-theme="horizontal-center"] li.member.collapsed > .element-container {
  display: none;
}
[data-theme="horizontal-center"].member.collapsed > .tree-line,
[data-theme="horizontal-center"] li.member.collapsed > .tree-line {
  height: 20px !important;
}
[data-theme="horizontal-center"].member.first > .tree-branch,
[data-theme="horizontal-center"] li.member.first > .tree-branch {
  width: 50%;
  margin-left: 50%;
}
[data-theme="horizontal-center"].member.first.last,
[data-theme="horizontal-center"] li.member.first.last {
  margin-top: -19px;
}
[data-theme="horizontal-center"].member.first.last > .tree-branch,
[data-theme="horizontal-center"] li.member.first.last > .tree-branch {
  display: none;
}
[data-theme="horizontal-center"].member.last > .tree-branch,
[data-theme="horizontal-center"] li.member.last > .tree-branch {
  width: 50%;
}
[data-theme="horizontal-center"].member.string > .element-head,
[data-theme="horizontal-center"] li.member.string > .element-head,
[data-theme="horizontal-center"].member.string > .toggle,
[data-theme="horizontal-center"] li.member.string > .toggle {
  border-color: #80c080;
}
[data-theme="horizontal-center"].member.number > .element-head,
[data-theme="horizontal-center"] li.member.number > .element-head,
[data-theme="horizontal-center"].member.number > .toggle,
[data-theme="horizontal-center"] li.member.number > .toggle {
  border-color: #8080ff;
}
[data-theme="horizontal-center"].member.boolean > .element-head,
[data-theme="horizontal-center"] li.member.boolean > .element-head,
[data-theme="horizontal-center"].member.boolean > .toggle,
[data-theme="horizontal-center"] li.member.boolean > .toggle {
  border-color: #ff8080;
}
[data-theme="horizontal-center"].member.null > .element-head,
[data-theme="horizontal-center"] li.member.null > .element-head,
[data-theme="horizontal-center"].member.null > .toggle,
[data-theme="horizontal-center"] li.member.null > .toggle {
  border-color: silver;
}
[data-theme="horizontal-center"].member.array > .element-head,
[data-theme="horizontal-center"] li.member.array > .element-head,
[data-theme="horizontal-center"].member.array > .toggle,
[data-theme="horizontal-center"] li.member.array > .toggle {
  border-color: #ee8a9e;
}
[data-theme="horizontal-center"].member.object > .element-head,
[data-theme="horizontal-center"] li.member.object > .element-head,
[data-theme="horizontal-center"].member.object > .toggle,
[data-theme="horizontal-center"] li.member.object > .toggle {
  border-color: #ffd280;
}
[data-theme="horizontal-center"] li.member.highlighted .element-head,
[data-theme="horizontal-center"] li.member.highlighted .toggle.middle,
[data-theme="horizontal-center"] li.member.highlighted .toggle.left {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: #fafafa !important;
}
[data-theme="horizontal-center"] li.member.selected .element-head,
[data-theme="horizontal-center"] li.member.selected .toggle.middle,
[data-theme="horizontal-center"] li.member.selected .toggle.left {
  background-color: #f3f3f3;
}
[data-theme="horizontal-center"] li.member.selected .tree-line {
  width: 3px;
  left: -1px;
}
[data-theme="horizontal-center"] li.member.selected ul .tree-branch {
  border-width: 2px;
}
[data-theme="horizontal-center"].member.collapsed > .tree-line {
  height: 0px !important;
}
[data-theme="horizontal-center"] span.tree-line {
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #e5e5e5;
  margin-left: 50%;
  top: 0;
  z-index: -1;
}
[data-theme="horizontal-center"] span.tree-line.expandable {
  height: 70px;
}
[data-theme="horizontal-center"] span.tree-line.json {
  top: 50px;
  margin-bottom: 0px;
}
[data-theme="horizontal-center"] span.tree-branch {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e5e5e5;
}
[data-theme="horizontal-center"] a.toggle {
  display: inline-block;
  box-sizing: content-box;
  width: 33px;
  height: 28px;
  background: url('../assets/buttons/toggle_collapse.png') center no-repeat;
}
[data-theme="horizontal-center"] a.toggle.right {
  margin-left: -33px;
  margin-bottom: -8px;
}
[data-theme="horizontal-center"] a.toggle.middle,
[data-theme="horizontal-center"] a.toggle.left {
  margin-bottom: -10px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
}
[data-theme="horizontal-center"] a.toggle.middle ~ .element-head,
[data-theme="horizontal-center"] a.toggle.left ~ .element-head {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}
[data-theme="horizontal-center"] a.toggle.inactive {
  cursor: default;
}
